<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Start Learning</h1>
    <p class="display-4 d-none d-sm-block">Enjoy and Learn</p>
    <p class="lead">An easy learning platform for all</p>



    <p class="lead">Please Select the Profile from navigation bar</p>
    <p><strong> Learning begins here</strong></p>

    <br><br><br>
  </div>
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
